body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, #FF5EDF 0%, #04C8DE 100%);

}


.main-section {
  min-height: 85vh;
}

@media only screen and (max-width: 600px){
  .root {
    min-width: 500px;
  }
}